@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Bebas+Neue&family=Fjalla+One&family=Noto+Serif+Dives+Akuru&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
     font-family: "Noto Serif Dives Akuru", serif;
    font-weight: 400;
}

.header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.back-to-top-outer{
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3a220a;
    border-radius: 4PX;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;

}

.back-to-top-outer a {
    height: 100%;
    width: 100%;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    text-decoration: none;
}

.fa-solid{
    font-size: 18px;
    color: white;  
}

html{
    scroll-behavior: smooth;
}

.navbar-brand img {
    height: 40px;
    width: 100%;
}

.outer{
    width: 100%;
    height: 500px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: #bdc3c7; 
}
body::-webkit-scrollbar-thumb {
    background: #e67e22; 
    border-radius: 20px;
}

.home-outer{
    width: 100%;
    height: 90vh;
    background-image: url(./asserts/table.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-text{
    color: rgb(225, 225, 225);
    font-weight: bold;
}

.header-text{
    color: rgb(251, 251, 251); 
    font-weight: bold;
    line-height: 40px;
}

.home-container{
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-widgets-outer{
    margin-top: -100px;
}

.wisget-outer{
    height: 300px;
    margin-bottom: 20px;
}

.widget-inner{
    height: 100%;
    width: 100%;
    border: 1px solid #adbec9;
    border-radius: 10px;
    background-color: #f3f4f5;
    display: flex;
    flex-direction: column;
}

.widget-inner-top{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget-inner-bottom{
    flex: 1;
}

.widget-icon{
    height: 80px;
    width: 80px;
    background-color: #FE214F;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.widget-icon svg{
    width: 60%;
    height: 60%;
}


.widget-header{
    text-align: center;
    margin-top: 5px;
}
.widget-desc{
    text-align: center;
}

/*services*/

.service-outer{
    min-height: 750px;
    width: 100%;
    background-image: url('https://images02.nicepage.com/c461c07a441a5d220e8feb1a/24af2a14af16514caf47360a/33581d05cec4a3308cd79979a51eed9d.jpeg');
    background-size: cover;
    background-position: left;
}
.service-container{
    min-height: 750px;
}
.row{
    height: 100%;
}
.service-containner-inner{
    height: 100%;
}
.service-right-side{
    min-height: 750px;

    display: flex;
    align-items: center;
    justify-content: stretch;
}
.right-top{
    height: 350px;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-top:last-child{
    margin-bottom: 0;
}
.right-bottom{
    height: 350px;
    background-color: white;
}
.service-top-title{
    color: #FE214F;
}
.service-top-desc{
    margin-top: 20px;
}

.service-grid-outer{
    width: 100%;
    height: auto;
}
.service-grid-inner{
    height: 420px;
    background-color: #1A1A1A;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid-1{

    background-image: url('https://images01.nicepage.com/2c/36/2c363cea606f515e74b1e427f2b437c0.jpeg');
    background-size: cover;
    background-position: center;
}
.grid-3{

    background-image: url('	https://images01.nicepage.com/9b/3f/9b3fb50d7f1060045a2fb67bc06f4802.jpeg');
    background-size: cover;
    background-position: center;
}
.link , .service-grid-title{
    color: #FE214F;
}
.service-grid-header{
    color: white;
}
.desc-service-grid{
    color: #bdc3c7;
}

/*abpout page*/

.solutions-outer{
    width: 100%;
    height: 450px;
    border: 1px solid red;
}

.box-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width 60px;
    height: 60px;
    border: 1px solid red;
}
